{%extends"base.html" %} {% block title%}HOME{% endblock%}
{%block content%}
<div class="jumbotron">
    <h1 align="center" class="display-4">Welcome to Que's Blog.<span class="wave">👋🏾</span></h1>
    <h3 align="center" class="lead">...so much more to read now<span class="smile">👋🏾</span></h3>
    <hr  class="my-4">
    <p align="center">News, Events, Entertainment, Lifestyle, Fashion, Beauty, Inspiration and yes... Gossip! *Wink*</p>
  </div>


<h1 align="center">Post</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    {% if current_user.id == note.user_id %}
    <li class="list-group-item"><h4 style="font-family:'Times New Roman', Times, serif ;"><strong>{{user.first_name}}</strong>
    </h4><h4 style="font-family:'Times New Roman', Times, serif ;"><i>{{ note.data }}</i></h4>
    <span><i>on- </i>{{note.date.strftime('%d/%b/%Y')}}</span>
    <li class="list-group-item">
        <button type="button" class="close" onclick="deleteNote({{note.id}})">
            <span class="btn btn-danger">Delete</span>
        </button>
        
        <button type="button" class="close"  a href="/edit/{{note.id}}/">
            <span class="btn btn-success">Edit</span>
        </button>
    </li>

    
    {% endif %}
    {% endfor %}
</ul>
  
<form method="POST">
    <textarea name ="note" id ="note" class="form-control" placeholder="What's on your mind"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


</form>
{% endblock %}
